html {
  background-color: #fff;
}
body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  border-top: gray 5px solid;
}

.banner {
  background: #c2bbb1 url(../images/laptop.jpg) center center no-repeat;
  background-size: cover;
  width: auto;
  height: 300px;
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 0px;
}

.punch {
  margin-top: 0px;
  padding-left: 3px;
  padding: auto;
  font-size: 110%;
}

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

.site-nav ul {
  margin: 0px;
  padding: 0px;
}

.site-nav a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
}

.site-nav a:hover {
  background-color: lightgray;
}

.site-nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

.fix {
  clear: both;
}

.main {
  box-sizing: border-box;
}

.col-1 {
  width: 100%;
  font-size: 130%;
}

.col-2 {
  width: 100%;
}
